{% extends "base.html" %}

{% block head %}
    {{ super() }}

{{ script|safe }}

{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <div class="jumbotron">
            <h2>Stock Info</h2>
            <div align="center">
             <form action="" method="post">
                {{ form.stock }}
                {{ form.submit }}
            </form>
            {{ div | safe }}
            </div>
        </div>
    </div>
</div>

<footer class="footer">
<div class="container">
    <p class="text-muted">Stock price data is collected from <a href=https://iextrading.com/>IEX Trading</a>.</p>
</div>
</footer>

{% endblock %}
